<!DOCTYPE html>
<html>
    <head>
        <title>Logged Out</title>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
		<p>Logged out</p>
		
		<div class="login">
Click Here to <a class="button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" href="/" role="button"><span class="ui-button-text">Login Again</span></a>
</div>
	<iframe style="display:none;" src="<%= @logout_url %>"/>
	</body>
</html>