<!DOCTYPE html>
<html>

  <link href="stylesheets/jquery.wijmo-open.2.1.4.css" rel="stylesheet" type="text/css" />
  <link href="stylesheets/jquery.wijmo-complete.all.2.1.4.min.css" rel="stylesheet" type="text/css" />
  <link href="themes/rocket/jquery-wijmo.css" rel="stylesheet" type="text/css" title="rocket-jqueryui" />
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <link href="themes/wijmo/jquery.wijmo.wijpager.css" rel="stylesheet" type="text/css" />
  <link href="themes/wijmo/jquery.wijmo.wijgrid.css" rel="stylesheet" type="text/css" />

    <head>
        <title>Logged Out</title>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
		<p>Logged out</p>
		
		<div class="login">
Click Here to <a class="button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" href="/" role="button"><span class="ui-button-text">Login Again</span></a>
</div>
	<iframe style="display:none;" src="<%= @logout_url %>"/>
	</body>
</html>